.organization-info {
    padding: 20px;
    display: flex;
    width: max-content;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.call-btn {
    background-color: #7100E3;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.actions {
    
    display: flex;
}
.actions a{
        margin-left: 5px;
        text-align: center;
}

.booking-btn {
    border: 2px solid;
    background-color: #ffffff;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.place-info-address {
    margin-top: 20px;
    width: 340px;
    height: max-content;
}

.place-info-work-schedule {
    line-height: 25px;
    margin-top: 10px;
}

.work-schedule-title {
    font-weight: 600;
}

.article-block {
    display: grid;
    grid-template-columns: 1fr  360px;
    gap: 10px;
}

.organization-blocks {
    margin-top: 20px;
    background-color: none;
    width: 100%;
}
.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    
}   
.accordion__content{
    height: 0;
    display: none;
    flex-direction: column;
    padding: 20px;
    
    overflow: hidden;
    background-color: #936CFF;
}
.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    color: #ffffff;
    background-color: #936CFF;
    padding: 0 20px;
}
.accordion__title span{
    display: inline-flex;
    background-color: transparent;
    transform: rotate(0);
}
.accordion__title:hover span{
    transform: rotate(-90deg);
}

.accordion:hover .accordion__content{
    display: flex;
    height: max-content;
    
    
}
.services{
    display: flex;
    flex-direction: column;
}
.service-wrapper{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.service-main-info{
    display: flex;
    justify-content: space-between;
}
.service-title{
    font-size: 20px;
    font-weight: 600;

}
.service-title p{
    padding-bottom: 10px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
}
.service-description{
    font-size: 14px;
}
.employees{
    display: flex;
    flex-direction: column;
}

.employee-wrapper{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.employee-main-info{
    display: flex;
    align-items: center;
}
.employee-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.employee-image img{
    width: 50px;
    
    border-radius: 50px;
    
    
    
}
.employee-name {
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
}
.employee-skills{
    font-size: 14px;
    margin: 10px;
}