@media (max-width:1560px) {
    
    .article-block{
        display: flex;
        flex-direction: column-reverse;
    }
    .organization-info{
        padding: 0;
    }
    .cards{
      grid-template-columns: repeat(3, 320px); 

    }
    .slider {
      
      height: 500px;
      
      
    }
    .detail-organization-title{
      font-size: 50px;
      padding: 30px;
      font-weight: 600;
    } 
    .slider img {
      
      width: 70%;
     
      top: 1%;
      left: 15%;
    }
    .slider-btn{
      font-size: 50px;
    }
    .accordion{
      display: grid;
      grid-template-columns: repeat(1, 1fr);      
    }
  }
  
  @media  (max-width:1270px) {
      .container{
        margin: 0px 100px;
      }
      .logo{
        display: block;
      }
      .mid-logo{
        display: none;
      }
  }
  

  @media (max-width:1060px) {
    .cards{
      grid-template-columns: repeat(2, 320px); 

    }
    .slider {
    
      height: 400px;
      
      
    }
    .detail-organization-title{
      font-size: 40px;
      padding: 30px;
      font-weight: 600;
    } 
    .slider img {
      
      width: 80%;
     
      top: 1%;
      left: 10%;
    }
    .slider-btn{
      font-size: 50px;
    }
    .footer-line{
      flex-direction: column;
      margin-top: 40px;
      justify-content: space-evenly;
  }
  }
  @media  (max-width:840px) {
    .slider {
    
      height: 400px;
      
      
    }
    .detail-organization-title{
      font-size: 30px;
      padding: 30px;
      font-weight: 600;
    } 
    .slider img {
      
      width: 90%;
     
      top: 1%;
      left: 5%;
    }
    .slider-btn{
      font-size: 50px;
    }
      .container{
        margin: 0px 30px;
      }
      .search-input{
        width: 200px;
      }
      .cards{
        grid-template-columns: repeat(2, 320px);
        gap: 5px;

      }
      .card{
        margin: 0;
      }
  }
  
  @media  (max-width:650px) {
    hr{
      display: none;
    }
      .container{
        margin: 0px 20px;
      }
      .nav{
        display: none;
      }
      .link{
        display: none;
      }
      
      .header-logo-mobile{
          
        margin: 10px 0px;
      }
      .header-logo-mobile img{
          margin-left: 30px;
      }
      .menu-logo{
        display: block;
      }
      
      
      .block-title{
        font-size: 20px;
        font-weight: 800;
      }
      .cards{
          grid-template-columns: repeat(1, 320px);
          gap: 5px;

        }
      
        .footer-logo img{
          width: 240px;
      }
      .slider {
    
        height: 350px;
        
        
      }
      .detail-organization-title{
        font-size: 30px;
        padding: 15px;
        font-weight: 600;
      } 
      .slider img {
        
        width: 90%;
       
        top: 1%;
        left: 5%;
      }
      .slider-btn{
        font-size: 40px;
      }
  }
  @media (max-width:460px) {
    
    .slider {
    
      height: 250px;
      
      
    }
    .detail-organization-title{
      font-size: 20px;
      padding: 10px;
      font-weight: 600;
    } 
    
    .slider-btn{
      font-size: 20px;
    }
    
    .organization-info {
        align-items: flex-start;
        padding: 0;
       
    }
    .place-info-address{
        width: 200px;
        height: max-content;
    }
    .employee-name {
        margin-left: 20px;
        font-weight: 600;
        font-size: 16px;
    }
    .employee-skills{
        font-size: 12px;
    }
  }
  @media  (max-width:390px) {
    
    
      .container{
        margin: 0px 10px;
      }
      .header-logo img{
        width: 20px;
        height: 30px;
      }
      .menu-logo-img{
        width: 20px;
        height: 20px;
      }
      .search{
        padding: 5px;
      }
      .search-input{
        padding: 0px;
      }
      .slider {
    
        height: 200px;
        
        
      }
    
      
      .slider-btn{
        font-size: 20px;
      }
      
    .actions{
        flex-direction: column;
    }
    .actions a{
        margin-top: 5px;
}
    
      
  }
